/* Сброс стандартных стилей */
@import "~normalize.css";

/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

/* Определяем глобальные переменные */
:root {
    /* Цвета */
    --white: #fff;
    --blue: #3A4272;

    --pink-50: #f2dff0;
    --pink-100: #9a737d;

    --purple-50: #817194;
    --purple-100: #331A30;
    --purple-200: #261524;
    --purple-300: #140b13;

    /* Длительность анимации */
    --transition-duration: 350ms;
}

/* Глобальные стили */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Andika', sans-serif;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
