/* Сброс стандартных стилей */
@import "~normalize.css";

/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Scada:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Определяем глобальные переменные */
:root {
    /* Цвета */
    --white: #fff;

    --blue-50: #fafcff;
    --blue-100: #519ae7;
    --blue-200: #17395c;
    --blue-300: #16263e;

    /* Длительность анимации */
    --transition-duration: 350ms;
}

/* Глобальные стили */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Scada', sans-serif;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
