/* Сброс стандартных стилей */
@import "~normalize.css";

/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&display=swap');

/* Определяем глобальные переменные */
:root {
    /* Цвета */
    --white: #fff;

    --purple: rgb(51, 26, 48);
    --purple-dark: #21081e;
    --purple-light: #996192;

    --blue: rgb(58, 66, 114);
    --blue-light: #728597;

    --grey: #e5e5e5;

    /* Градиенты */
    --purple-blue-gradient: linear-gradient(
            to bottom,
            var(--purple) 0%,
            var(--blue) 100%
    );

    /* Длительность анимации */
    --transition-duration: 350ms;
}

/* Глобальные стили */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Andika', sans-serif;
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
