# Имя флоу
name: deploy

# Когда действие запустится (триггеры)
on:
  push:
    # при push в master
    branches: master

  workflow_dispatch:

# Что будем делать (экшены)
jobs:
  # Имя действия, придумываем сами
  hello:
    # На какой ОС будет работать виртуальная машина
    runs-on: ubuntu-latest

    # Шаги действия
    steps:
      # Шаг 1
      - name: Run a one-line script
        run: echo Hello, world!

      # Шаг 2
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
